.root {
    height: 70px;
    position: absolute;
    top: 0;
    display: flex;
}

.title {
    color: white;
    font-family: 'Inter';
    display: flex;
    align-items: center;
}

.pink {
    color: #C25Eff;
}
.pink:hover {
    cursor: pointer;
}

.arrow {
    margin: 0 1rem 0 1rem;
}
.arrow:hover {
    cursor: pointer;
}

.signin {
    width: 8rem;
    height: 2.5rem;
    bottom: 6.5%;
    border: none;
    background-color: white;
    color: black;
    font-family: 'Inter';
    font-weight: 700;
    border-radius: 10px;
    transition: 0.5s;
}
.signin:hover {
  background: #C25Eff;
  cursor: pointer;
  color: white;
}

.button-wrapper {
    height: 70px;
    position: absolute;
    right: 1rem;
    display: flex;
    align-items: center;
}

.identity-title {
    color: white;
    font-family: 'Inter';
    padding-right: 1rem;
}

@media screen and (max-width: 450px) {
    .root {
        display: hidden;
    }
}