.grid {
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin-top: 3rem;
}

.grid-item {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(55, 80, 168);
    /* border: 1px solid rgb(66,197,242); */
    background-color: rgb(28, 31, 49);
    border-radius: 1rem;
    /* border: double 1px transparent;
    background-image: linear-gradient(rgb(18, 19, 30), rgb(18, 19, 30)), linear-gradient(to right, #42c5f2 0%, #823f98 100%);
    background-origin: border-box;
    background-clip: content-box, border-box; */
    transition: 0.5s;
}
.grid-item:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.title {
    color: white;
    margin: 0;
    height: 20%;
    display: flex;
    align-items: center;
}

.video {
    width: 99%;
    height: 79%;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}