.root {
    min-height: 100vh;
    background-color: rgb(18, 19, 30);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3rem;
    overflow-y: hidden;
    overflow-x: hidden;
}

.tabs {
    margin-top: calc(70px + 2rem);
    display: flex;
}

.tab {
    color: white;
    margin: 2rem 2rem 1rem 2rem;
    width: 12rem;
    text-align: center;
}
.tab:hover {
    cursor: pointer;
}

.tab-indicator {
    width: 12rem;
    height: 2px;
    background-color: #C25Eff;
}

.tab-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

.create-clip {
    position: absolute;
    height: 2rem;
    width: 2rem;
    font-size: 1.3rem;
    bottom: 1rem;
    right: 1rem;
    border: none;
    background-color: #2c313d;
    color: grey;
    border-radius: 5px;
    display: none;
}
.create-clip:hover {
    cursor: pointer;
}

.play {
    width: 12rem;
    height: 2.5rem;
    position: absolute;
    border: none;
    background-color: white;
    color: black;
    font-family: 'Inter';
    font-weight: 700;
    border-radius: 10px;
    transition: 0.5s;
    bottom: 2rem;
}
.play:hover {
  background: #C25Eff;
  cursor: pointer;
  color: white;
}

.go-back {
    position: absolute;
    top: 0;
    left: 1rem;
    display: flex;
    align-items: center;
    z-index: 999;
}
.go-back:hover {
    cursor: pointer;
}

.back-text {
    color: white;
    font-family: "Inter";
    font-weight: 400;
    margin-left: 1rem;
}

@media screen and (max-width: 450px) {
    .root {
        height: 100%;
        width: 100%;
        padding-bottom: 3rem;
        min-height: 100vh;
    }

    .tab {
        margin: 0;
    }

    .play {
        display: none;
    }

    .go-back {
        display: none;
    }
}